{
    "presets": [
        "react-native"
    ],
    "env": {
        "production": {
            "plugins": [
                "transform-remove-console"
            ]
        }
    },
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": [
                    "./src"
                ]
            }
        ],
        "transform-es2015-modules-commonjs"
    ]
}
